site_name: RFID Audio Player
site_description: Documentation for Raspberry Pi RFID Audio Player
site_url: https://julianbierbaum.github.io/toniebox
repo_url: https://github.com/JulianBierbaum/toniebox
repo_name: ""

theme:
  name: material
  palette:
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.footer
    - navigation.path
    - navigation.instant
    - search.suggest
    - header.autohide
    - search.highlight
    - content.code.copy
    - navigation.expand
    - toc.integrate
    - search.share
  icon:
    repo: fontawesome/brands/github
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/JulianBierbaum/toniebox

nav:
  - Home: index.md
  - Setup: setup.md
  - Usage: usage.md

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - attr_list
  - md_in_html

plugins:
  - search
